.studio{
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.studio img{
  -moz-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.studio-container-wrapper{
  background-color: #eae7dc;
}

.studio-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 5% 0 5%;
  padding-left: 3vw;
  padding-top: 2vw;
  background-image: url('./PanelBoard.png');
  background-size: 100% 100%
}

.style-balancer-wrapper{
}

.next-wardrobe-tracker-wrapper, .size-tracker-wrapper,
.equalizer-wrapper, .colorpicker-set-wrapper, .style-balancer-wrapper{
  margin: 0.5vw;
}

@font-face {
    font-family: digital-dream-narrow;
    src: url('./util/DigitaldreamNarrow.eot'), url('./util/DigitaldreamNarrow.ttf');
}
