.top-panel-container {
    margin-top: 0.5vw;
    width: 100%;
    box-sizing: border-box;
}
.top-panel-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-panel-subbox {
    border: 1px black solid;
}
.top-panel-left {
    flex: 5 1 5%;
    margin-right: 1%;
    margin-left: 0.5%;
}
.top-panel-mid {
    flex: 4 1 5%;
}
.top-panel-right {
    flex: 9 1 5%;
}
.top-panel-separator-wrapper {
    margin: 0 0;
}
.top-panel-separator {
    width: 100%;
}

/* left-tuners */

.left-tuners-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}
.left-tuners-headphone-jack-wrapper {
    flex: 1 1 10%;
    margin-top: 2%;
}
.left-tuners-headphone-jack {
    width: 60%;
}
.left-tuners-knob-container {
    flex: 5 1 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.left-tuners-inputknob-wrapper {
    flex: 3 1 10%;
    margin-bottom: 2%;
}
.left-tuners-inputknob {
    width: 80%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

/* right-buttons */

.right-buttons-container {
    padding-left: 5%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.right-buttons-air-button-wrapper {
    flex: 2 1 5%;
    
}
.right-buttons-on-button-wrapper {
    flex: 1 1 5%;
    margin-left: 3%;
}
.right-buttons-air-button-red-wrapper {
    flex: 1 1 5%;
    margin-left: 5%;
}
.right-buttons-low-knob-wrapper {
    flex: 1 1 4%;
    margin-left: 5%;
}
.right-buttons-high-knob-wrapper {
    flex: 1 1 4%;
    margin-left: 5%;
}
.right-buttons-input-knob-wrapper {
    flex: 4 1 10%;
    padding-top: 1%;
    margin-left: 3%;
}
.right-buttons-input-knob {
    margin-left: 30%;
}
.right-buttons-red-knob {
    width: 100%;
}
.right-buttons-air-button-red {
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
}
.right-buttons-air-button {
    width: 100%;
}
.right-buttons-air-button-red:active {
    border: 1px solid rgb(207, 207, 120);
}
.right-buttons-on-button:active {
    border: 1px solid rgb(207, 207, 120);
}
.right-buttons-on-button {
    width: 80%;
    margin-left: 10%;
    cursor: pointer;
}