.name-card-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    align-content: center;
}
.name-card-label-wrapper {
    font-family: sans-serif;
    font-size: 3.5em;
    height: 100%;
    margin-right: 3%;
}
.name-card-window-wrapper {
    text-align: center;

}
.name-card-window {
    width: 100%;
    margin-left: 0%;
}
.name-card-value {
    position: absolute;
    top: 0;
    right: 5%;
    font-family: digital-dream-narrow;
    color: #65edf2;
    font-size: 4.5em;
}