/*
 * size tracker unit styles
 */

.size-tracker-unit{
  display: flex;
  position: relative;
}

.size-tracker-name{
  width: 55%;
  /* font-size: 8vw; */
  margin: 0;
  text-align: right;
}

.size-tracker-display{
  width: 20%;
  margin-left: 10%;
}

.size-tracker-display img{
  width: 100%;
}

.size-tracker-value-wrapper{
  position: absolute;
  width: 20%;
  left: 65%;
  text-align: center;
  margin-right: 0;
  font-family: digital-dream-narrow;
  color: #65edf2;
  padding-top: 1%;
}

.size-tracker-adjust{
  width: 8%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.size-tracker-adjust img{
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.size-tracker-adjust-img{
  width: 100%;
  flex: 0 0 auto;
}


/*
 * Size tracker style
 */


.size-tracker-title{
  width: 90%;
  margin: auto;
  padding-top: 8%;
}

.size-tracker-unit-wrapper{
  width: 80%;
  margin: 8% auto 0 auto;
}

.size-tracker-decoration{
  width: 90%;
  margin: 10% auto 5% auto;
  padding-bottom: 5%;
  display: flex;
}

.size-tracker-headphones-jack{
  margin-top: 1.5%;
  width: 10%;
  height: 10%;
}

.size-tracker-save-button {
  margin-top: 3%;
  margin-left: 5%;
  width: 20%;
  height: 20%;
  cursor: pointer;
}

.size-tracker-knob-container{
  width: 60%;
  margin-left: 5%;
  line-height: 0ch;
}

.size-tracker-knob{
  width: 20%;
  margin-left: 12%;
}
