.input-knob-container {
    width: 100%;
    position: relative;
    padding-left: 10%;
}
.input-knob-back {
    width: 100%;
}
.input-knob-top {
    width: 13%;
    position: absolute;
    top: 38%;
    left: 49%;
    cursor: pointer;
}
.rotating {
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}