.knob-container {
    position: relative;
    width: 100%;
}
.knob-background {
    width: 100%;
}
.knob-top {
    position: absolute;
    left: 18%;
    top: 30%;
    width: 65%;
}
.knob-top-spinner {
    position: absolute;
    left: 19%;
    top: 32%;
    width: 65%;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.staying {
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotating {
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}