@media screen and (min-width: 1200px){
  .feedback-wrapper{
    position: relative;
    font-size: 16px;
  }
  .feedback {
    width: 100%;
    margin:auto;
    height: 0;
    padding-bottom: 40%;
    /* max-height: 480px; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .feedback-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .box-review-wrapper {
    width: 25%;
    height: 75%;
    margin-left: 10%;
    padding-top: 6.5%;
    margin-right: 0px;
    /* display: inline-block; */
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .item-display-rating{
    width: 52%;
    margin-top: 6.7%;
    margin-left: 38%;
    position: absolute;
    height: 50%;
  }

  .item-display-wrapper{
    height: 50%;
  }

  .feedback-rating{
    margin-top: 1%;
    height: 55%;
    background-size: 100% 100%;
  }

}

@media screen and (max-width: 1200px)and (min-width: 415px){
  .feedback-wrapper{
    position: relative;
    font-size: 10px;
  }
  .feedback {
    width: 100%;
    margin:auto;
    height: 0;
    padding-bottom: 40%;
    /* max-height: 480px; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .feedback-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .box-review-wrapper {
    width: 25%;
    height: 75%;
    margin-left: 10%;
    padding-top: 6.5%;
    margin-right: 0px;
    /* display: inline-block; */
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .item-display-rating{
    width: 52%;
    margin-top: 6.7%;
    margin-left: 38%;
    position: absolute;
    height: 50%;
  }

  .item-display-wrapper{
    height: 50%;
  }

  .feedback-rating{
    margin-top: 1%;
    height: 55%;

  }
}
@media screen and (max-width: 414px){
  .feedback{
    width: 90%;
    margin: auto;
    font-size: 10px;
  }
  .item-display-rating{
    width: 100%;
  }

  .feedback-background-wrapper{
    display: none;
  }

}
.Ratingbar-wrapper{
  display: flex;
  flex-direction: row;

}
