.box-review-background-wrapper{
  float: left;
}

.box-review-background{
  display: block;
  width: 100%;
}

@media screen and (min-width: 780px){
  #feedback::before {
    content: " ";
    width: 100%;
    margin:auto;
    height: 0;
    padding-bottom: 40%;
    max-height: 480px;
    background-image: url('./boxReviewBackground.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
    /* background-position: center center; */
  }

  #box-review-wrapper {
    width: 27%;
    margin-left: 8%;
    padding-top: 9%;
    margin-right: 0px;
    display: inline-block;
  }

  #item-display-wrapper {
    display: inline-block;
    vertical-align: top;
    padding-top: 9%;
    width: 60%;
    margin-left: 4%;
    height: 50%;
  }

  .item-feedback-slider-container{
    display: flex;
  }
}

@media screen and (max-width: 779px) {
  #box-review-wrapper{
    margin-top: 20px;
  }
}

@media screen and (max-width: 779px) and (min-width: 414px){
  #feedback{
    width: 80%;
    margin: auto;
  }
}
