input.feedback-slider {
  align-self: center;
  border: 0;
  padding: 0;
  width: 84%;

  opacity: 1;
  cursor: pointer;
}
/* ---------------------------------for chrome------------------------------------ */
input.feedback-slider, input.feedback-slider::-webkit-slider-runnable-track, input.feedback-slider[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input.feedback-slider::-webkit-slider-runnable-track {
  position: relative;
  height: 1.2vw;
  padding-left: 0.3vw;
  padding-right: 0vw;
  background-size: cover;
  z-index: 1;
}

input.feedback-slider::-webkit-slider-runnable-track {
  background-image: url('https://res.cloudinary.com/the-wardrobe/image/upload/v1539636360/Fit_Bar_Slider_Bar.png');
  background-size: 100% 100%;
}

input.fit-feedback-slider::-webkit-slider-runnable-track {
  background-image: url('https://res.cloudinary.com/the-wardrobe/image/upload/v1539636360/Fit_Bar_Slider_Bar.png');
  background-size: 100% 100%;
}

input.feedback-slider::-webkit-slider-thumb {
  position: relative;
  margin: auto 0;
  border: none;
  background-image: url('./Feedback_Slider_Button.png');
  width: 7.11%;
  height: 100%;
  z-index: 100;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
/* -------------------------for firefox ----------------------- */
input.feedback-slider, input.feedback-slider::-moz-range-track, input.feedback-slider[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
}

input.feedback-slider::-moz-range-track {
  position: relative;

  height: 1.2vw;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  background-size: cover;
  z-index: 1;
}

input.feedback-slider::-moz-range-track {
  background-image: url('./Feedback_Slider_Bar.png');
  background-size: 100% 100%;
}

input.fit-feedback-slider::-moz-range-track {
  background-image: url('./Feedback_Slider_Bar.png');
  background-size: 100% 100%;
}

input.feedback-slider::-moz-range-thumb {
  position: relative;
  margin-left: 0em;
  border: none;
  border-radius: 50% 50% 0;
  background-image: url('./Feedback_Slider_Button.png');
  width: 11.11%;
  height: 100%;
  z-index: 100;
  background-size: inherit;
}
/* ----------------------------------for IE------------------------------- */
input.feedback-slider, input.feedback-slider::-ms-track, input.feedback-slider[type='range']::-ms-thumb {
  -webkit-appearance: none;
}

input.feedback-slider::-ms-track {
  position: relative;

  height: 1.2vw;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
  background-size: cover;
  z-index: 1;
}

input.feedback-slider::-ms-track {
  background-image: url('./Feedback_Slider_Bar.png');
  background-size: 100% 100%;
}

input.fit-feedback-slider::-ms-track {
  background-image: url('./Feedback_Slider_Bar.png');
  background-size: 100% 100%;
}

input.feedback-slider::-ms-thumb {
  position: relative;
  margin-left: 0em;
  border: none;
  border-radius: 50% 50% 0;
  background-image: url('./Feedback_Slider_Button.png');
  width: 11.11%;
  height: 100%;
  z-index: 100;
  background-size: inherit;
}

@media screen and (max-width: 414px) {
  input.feedback-slider::-webkit-slider-runnable-track {
    height: 6vw;
  }
}
