.item-feedback-slider-container{
  display:flex;
  flex-wrap: wrap;
  position: relative;
  /* transform: translate(-5%,0px); */
}

.item-feedback-slider-wrapper{
  width: 50%;

}
.item-feedback-slider-title{
  text-align: center;
  margin-bottom: 1%;
}
.feedback-slider{
  margin: auto;
}
.feedback-notation{
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
  white-space: nowrap;
  font-size: 1vw;
}

@media screen and (min-width:1200px) {
  .feedback-notation div{
    font-size: 0.7em;
  }
}
@media screen and (max-width:1199px) {

  .feedback-notation :nth-child(2){
    display: none;
  }
}
#update-rating{
  position: absolute;
  top: 100%;
  margin-top: 1.5%;
  white-space: nowrap;
  margin-left: 65%;
  font-size: 1vw;
}
#switch-comment{
  position: absolute;
  top: 100%;
  margin-top: 1.5%;
  white-space: nowrap;
  margin-left: 7%;
  font-size: 1vw;
}
@media screen and (max-width:414px) {
  .item-feedback-slider-wrapper{
    width: 100%;
    padding: 0 10%;
  }
  #update-rating{
    top: -45%;
    font-size: 2vw;
  }
  .feedback-notation div{
    font-size: 2em;
  }
}
textarea{
  margin-left: 2vw;
  margin-top: 1vw;
  width: 30vw;
  height: 8vw;
  font-size: 1.5em;
  font-family: Lato;
}
textarea::-webkit-input-placeholder {
  color: pink;
  font-size: 2.5vw;
}
.commentSection{
  position: relative;
}
.switchToRating{
  position: absolute;
  top: 9vw;
  left:2vw;
}
#SaveComment{
  position: absolute;
  top:9vw;
  left:26vw;
}
