.item-feedback-slider-container{
  display:flex;
  flex-wrap: wrap;
  /* transform: translate(-5%,0px); */
}

.item-feedback-slider-wrapper{
  width: 50%;

}
.item-feedback-slider-title{
  text-align: center;
  margin-bottom: 1%;
}
.feedback-slider{
  margin: auto;
}

.feedback-notation{
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}

.feedback-notation div{
  /* width: 25%; */
  /* transform: rotate(90deg); */
  font-size: 0.5em;
  margin-top: 0.55em;
}

#update-rating{
  margin-top: 2%;
  margin-left: 70%;

}
