.item-feedback-slider-container{
  display:flex;
  flex-wrap: wrap;
  /* transform: translate(-5%,0px); */
}

.item-feedback-slider-wrapper{
  width: 50%;

}
.item-feedback-slider-title{
  text-align: center;
  margin-bottom: 1%;
}
.feedback-slider{
  margin: auto;
}

@media screen and (min-width:1200px) {
  .feedback-notation{
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
    white-space: nowrap;
  }
  .feedback-notation div{
    font-size: 0.5em;
    margin-top: auto;
  }
}
@media screen and (max-width:1199px) {
  .feedback-notation{
    display: flex;
    justify-content: space-between;
    margin-left: 8%;
    margin-right: 8%;
    white-space: nowrap;
  }
  .feedback-notation :nth-child(2){
    display: none;
  }
}


#update-rating{
  position: absolute;
  top: 100%;
  margin-top: 2%;
  white-space: nowrap;
  margin-left: 60%;

}
