.amfm{
  width: 100%;
}

.amfm-img-wrapper{
  position: relative;
}

.amfm-img{
  z-index: 2;
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

.amfm-reset{
  width: 18%;
  height: 11%;
  position: absolute;
  top: 6.5%;
  left: 58%;
  /* background-color: red;
  opacity: 0.5; */
}

.amfm-save{
  width: 17%;
  height: 11%;
  position: absolute;
  top: 6.5%;
  left: 78.5%;
  /* background-color: red;
  opacity: 0.5; */
}

.amfm-points{
  z-index: 3;
  position: absolute;
  height: 27.2%;
  background-color: #96D6D7;
  top: 36.8%;
  opacity: 0.5;
  left: 19.5%;
}

.amfm-button{
  cursor: pointer;
}
