.equalizer-controller{
  width: 100%;
  position: relative;
  user-select: none;
}

.equalizer-controller-wrapper{
  width: 90%;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.equalizer-panel-over{
  width: 100%;
  pointer-events: none;
}

.equalizer-value-box-container{
  position: absolute;
  top: 2%;
  height:96%;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.equalizer-value-box{
  width: 91%;
  height: 9.8%;
  margin-bottom: 1%;
  margin-right: 4%;
  align-self: flex-end;
  opacity: 0.5;
  border-radius: 7%;
}

.equalizer-panel-button-wrapper{
  overflow: hidden;
  position: relative;
  margin-top: 30%;
  margin-bottom: 5%;
}

.equalizer-button-plus-wrapper{
  position: absolute;
  left: 55%;
  top: 15%;
  width: 30%;
  height: 40%;
  cursor: pointer;
}



.equalizer-button-minus-wrapper{
  position: absolute;
  left: 15%;
  top: 15%;
  width: 30%;
  height: 40%;
  cursor: pointer;
}

.equalizer-panel-button-plus{
  position: absolute;
  width: 80%;
  left: 10%;
  top: 18%;
}

.equalizer-panel-button-minus{
  width: 80%;
  position: absolute;
  left: 15%;
  top: 38%;
}

.equalizer-button-symbol{
}

.equalizer-controller-title{
  font-family: Lato;
  position: absolute;
  top: 60%;
  font-size: 0.8em;
  text-align: center;
}

.equalizer-panel-button{
  width: 100%;
  pointer-events: none;
}
