.equalizer-controller{
  width: 100px;
  position: relative;
}

.equalizer-wrapper{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.equalizer-panel-over{
  width: 100%;
  pointer-events: none;
}

.equalizer-value-box-container{
  position: absolute;
  top: 7%;
  height:86.5%;
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
}

.equalizer-value-box{
  width: 64%;
  height: 9.6%;
  margin-bottom: 1%;
  margin-right: 18%;
  align-self: flex-end;
  opacity: 0.5;
  border-radius: 7%;
}

.equalizer-panel-button-wrapper{
  overflow: hidden;
  position: relative;
}

.equalizer-button-plus-wrapper{
  position: absolute;
  left: 55%;
  top: 15%;
  width: 30%;
  height: 40%;
  cursor: pointer;
}



.equalizer-button-minus-wrapper{
  position: absolute;
  left: 15%;
  top: 15%;
  width: 30%;
  height: 40%;
  cursor: pointer;
}

.equalizer-panel-button-plus{
  position: absolute;
  width: 80%;
  left: 15%;
  top: 18%;
}

.equalizer-panel-button-minus{
  width: 80%;
  position: absolute;
  left: 30%;
  top: 14%;
}

.equalizer-button-symbol{

}

.equalizer-panel-button{
  width: 100%;
  pointer-events: none;
}
