.equalizer h3{
  margin-bottom: 2.5%;
  text-align: center;
  font-family: Lato;
  font-size: 2vw;
  font-weight: 300;
  padding-bottom: 10%;
}

.equalizer-container{
  padding-top: 2%;
  display: flex;
  background-image: url('./SectionBox.png');
  background-size: 100% 100%;
  position: relative;
}

.amfm-wrapper{
  padding-top: 3%;
  width: 35%;
  margin: 0 0 0 2%;
}

.amfm-inner-wrapper{
  width: 90%;
  margin: 4% auto 4% auto;
}

.equalizer-reset-button{
  position: absolute;
  width: 10%;
  top: 80%;
  left: 7%;
  cursor: pointer;
}

.equalizer-save-button{
  position: absolute;
  width: 10%;
  top: 80%;
  left: 19%;
  cursor: pointer;
}

.controller-container-wrapper{
  display: flex;
  width: 75%;
}

.controller-container{
  display: flex;
  width: 90%;
  margin: 3% auto 3% auto;
  background-image: url('./StylePresetsSelectionWindow.png');
  background-size: 100% 72%;
  background-repeat: no-repeat;
  padding: 4% 3% 1% 3%;
}

.controller-wrapper{
  width: 80%;
  margin: auto;
}
