.search-panel{
	background-color: #FCFCF5;
	padding: 20px;
}


.select, .search-input, .search-output, .search-button {
	width: 60%;
	margin-left: 20%;
}

/* .select-select, .search-input-datalist, .search-output-datalist{
	margin-left: auto;
	margin-right: auto;
} */

.Select{
	width: 60%;
	margin-left: 20%;
}
