/*
 * With Screw Background Styles
 */
.screw-panel-background{
  background-image: url('StyleBalancerPlate.webp');
  background-size: 100% 100%;
  position: relative;
}

.screw-top-left, .screw-top-right, .screw-bottom-left,
.screw-bottom-right{
  width: 6%;
  position: absolute;
}

.screw-top-left{
  left: 1.1%;
  top: 2.6%;
}

.screw-top-right{
  right: 1.1%;
  top: 2.6%;
  transform: rotate(45deg);
}

.screw-bottom-left{
  left: 1.1%;
  bottom: 2.6%;
  transform: rotate(90deg);
}

.screw-bottom-right{
  right: 1.1%;
  bottom: 2.6%;
  transform: rotate(135deg);
}



/*
 * Panel background styles
 */

 .panel-background{
   background-image: url('./SectionBox.png');
   background-size: 100% 100%;
 }


 /*
  * InfoButtonInsertion styles
  */

.info-button-insertion{
  position: relative;
}

.info-button{
  position: absolute;
  width: 2vw;
  z-index: 5;
  cursor: pointer;
}


/*
 * Attachment style
 */
.studio-attachment{
  position: absolute;
  right: 100%;
  top: 15%;
  z-index: 5;
}

.hidden{
  display: hidden;
}

.attachment-close-wrapper{
  position: relative;
  display: inline-block;
}

.attachment-close{
  position: absolute;
  width: 10%;
  height: 10%;
  right: 0;
  top: 0;
  cursor: pointer;
}
