.vertical-slider-wrapper {
  float: left;
  position: relative;
  margin: 0 .5em .5em;
  height: 12.5em;
  width: 1.5em;
}

input.vertical-slider[type='range'] {
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.5em;
  border-radius: 0.75em;
  transform: translate(-50%, -50%) rotate(-90deg);
  background-size: 100% 100%;
  font: 1em/1 arial, sans-serif;
}
input.vertical-slider[type='range'], input.vertical-slider[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}


input.vertical-slider[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
}

input.vertical-slider[type='range']::-moz-range-track {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
}

input.vertical-slider[type='range']::-ms-track {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: none;
  width: 12.5em;
  height: 0.25em;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-lower,
input[type=range]:focus::-ms-fill-lower, input[type=range]:focus::-ms-fill-upper {
  opacity: 0;
}


input.vertical-slider[type='range']::-webkit-slider-thumb {
  margin-top: -0.875em;
  box-sizing: border-box;
  border: none;
  width: 2em;
  height: 2em;
  z-index: 100;
  background-size: contain;
}


input.vertical-slider[type='range']::-moz-slider-thumb {
  margin-top: -0.625em;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  z-index: 100;
  background-size: contain;
}

input.vertical-slider[type='range']::-ms-thumb {
  margin-top: -0.625em;
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  width: 1.5em;
  height: 1.5em;
  margin-top: 0em;
  z-index: 100;
  background-size: contain;
}
